BookShopMagazine {
  background: #e2e1e0;
  text-align: center;
  width: 100%;
}

Book {
  display: block;
  position: relative;
  background: #ffffff;
  border-radius: 2px;
  height: 300px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.12), 0 4px 6px rgba(0,0,0,0.20);
}

Author {
  display: block;
  position: relative;
  background: #ffffff;
  margin: 10px;
  width: 300px;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.12), 0 4px 6px rgba(0,0,0,0.20);
}

Author > firstName, lastName {
  font-weight: bold;
}

Author::before {
  display: block;
  content: url(icons/baseline-account_circle-64px.svg);
  margin-top: 5px;
}

Author::after {
  display: block;
  position: absolute;
  content: "#" attr(id);
  top: 5px;
  right: 5px;
  color: rgba(0,0,0,.5);
}

Author:hover::after {
  color: black;
}

authors::after {
  margin-top: 10px;
  border-bottom: 5px solid red;
}

informations {
  width: 100%;
  display: block;
  padding: 10px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}

informations > * {
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
}

books, authors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

Book > * {
  display: block;
  font-family: monospace;
  font-size: 10pt;
}

Book > *::before {
  font-weight: bold;
}

Book > title {
  font-size: 25pt;
  font-family: "Century Gothic"
}

Book > title::first-letter {
  font-size: 30pt;
}

Book[type]::before {
  content: "Type: " attr(type);

  color: #4a148c;
  display: block;

  top: 0px;
  font-family: monospace;
  font-size: 10pt;
  width: 100%;
  text-align: center;
  background-color: #f3e5f5;
  padding: 5px 0px 5px 0px;
}

Book > price::before {
  content: "Price: ";
}

Book > pages::before {
  content: "Number of pages: ";
}

Book > releaseDate::before {
  content: "Release date: ";
}

Book > releaseDate {
  display: inline-table;
  float: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

Book > releaseDate > *:nth-child(2n)::before {
  content: "-";
}

Book > releaseDate > *:nth-child(2n)::after {
  content: "-";
}

Book[author]::after {
  font-weight: bold;
  color: #b71c1c;
  display: block;
  position: absolute;
  content: "Author id: " attr(author);
  bottom: 0px;
  font-family: monospace;
  font-size: 10pt;
  width: 100%;
  text-align: center;
  background-color: #ffebee;
  padding: 5px 0px 5px 0px;
}

Book > description {
  padding-top: 50px;
}
